* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#ffc4c4, #e0dddb);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Bree Serif', serif;
}

.blueBody{
    background:linear-gradient(#e0f7fa, #4fc3f7) !important;
}
.brand-logo {
    color: #cdedff !important;
}

.showAll {
    height: auto;
}

.showHalf {
    height: 780vh;
    overflow: hidden;
}

.quote {
    text-align: center;
    font-size: 10vh;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
}

.card-title {
    background-color: #e96767;
    padding: .7vh !important;
}

.nav-wrapper {
    background-color: #e96767;
}

.navBlue{
    background-color:#40b3bb;
}
.activatedBlue{
    background-color:#34aca2;
}
.activated {
    background-color: #a04141;
}

.image-one {
    height: 40vh;
}

.footer{
    margin-top: 5vh;
    padding-top: 5vh;
    background-color: #e96767;
}
.footerBlue{
    margin-top: 5vh;
    padding-top: 5vh;
    background-color: #34aca2;
}
.brand-logo {
    margin-left: 4vh;
}

.btnClick {
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 40%;
}


#chatBox {
    position: relative;
    height: 65vh;
    overflow-y: hidden;

}

#dinoCard {
    height: 35vh;
    margin-top: 4vh;
    background-color: #c8e6c9;
}

.botResCard {
    background-color: #536dfe;
    font-size: 20px;
    color: white;
    margin-top: 3vh;
    padding-left: 3vh;
    margin-right:3vh;
    border-radius: 10px;
}

.uiCard {
    background-color: #ff9800;
    font-size: 20px;
    color: white;
    margin-top: 3vh;
    margin-left: 5vh;
    padding-left:2vh;
    border-radius: 10px;
}

/* .carousel .carousel-item{
    width:300px !important;
} */
/* .carousel{
    min-height:500px !important;
} */
/* .carouselSize{
    height:40vh;
    margin-bottom:30px;
} */
@media screen and (max-width: 700px) {
    .carouselComputer {
        display: none;
    }

    .contactTitle {
        margin-right: 10vh;
    }

    .cardDisappear {
        display: none;
    }

    .blueBody{
        background:linear-gradient(#e0f7fa, #4fc3f7) !important;
    }
    .showHalf {
        height: 1350vh;
        overflow: hidden;
    }

    .fixed-action-btn {
        right: 10vh !important;
        top: 50vh !important;
        padding: 0 !important;

    }

    #dinoCard {
        margin-top: 1vh;
        height: 26vh;
        margin: 1vh;
    }

    #chatBox {
        position: relative;
        height: 53vh;
        overflow-y: hidden;
    }
    .gifStyles{
        width: 25vh !important;
        height: 25vh !important;
    }
}

@media screen and (min-width: 700px) {
    .carousel .carousel-item {
        display: none;
    }

    .carouselComputer {
        display: show;
    }

    .fixed-action-btn {
        right: 20vh !important;
        top: 30vh !important;
        padding: 0 !important;

    }
}

/* .contactTitle{
    margin-left:90vh;
} */
.carouselComputer {
    margin-top: 25vh;
}

.carousel-thing {
    width: 25%;
    /* list-style-type: none; */
    position: absolute;
    top: 0;
    /* padding: 20px; */
    /* height: 200px;  */
    opacity: 0;
    margin-top: 70vh;
    text-align: center;
    transition: 1s opacity;
}

.active {
    opacity: 1;
}

/* .carouselLi{
    list-style-type: none;
} */
.deskInstaImg {
    height: 20vh;
}

/* .carousel-item{
     transform: scale(1.3); 
} */

/* #wrapperInstagram{
    padding:0;
} */

/* .image-one{
    background-image:url("images/pexelsGalaxyPicture.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
} */